.header_content{
    height:80vh;
    background-image: url("../img/rings_flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   
   h1{
       text-align: center;
   }
   h4{
       margin:50px,20px,20px 50px;
   }
   .header_button{
       display:flex;
       justify-content: space-between;
   }

}   
      
