.header_content{
    height:80vh;
    background-image: url("../img/rings_flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items:center;
   @media @phone{
       width:100%;
       height:60vh;
       
       
   }

   .header_content_text{
       width:60%;
       @media @phone{
           width:100%
       }
       h1{
          font-size: 7rem;
          text-align: center;
          @media @phone{
              display:none;
          }
       }
       h4{
          text-align: center;
          padding:50px 5px 20px 5px;
          @media @phone{
              font-size:2rem;
              padding:20px 20px 20px 50px;
          }
        } 
   }
   .header_button{
       width:100%;
       @media @phone{
           width:100%;
           padding:0 0 20px 0;
       }
       nav{
        display: flex;
        justify-content:center;
        
        .header_button{
            width:30%;
            .custom-button(@nav_btcolor,black);
            @media @phone{
                width:50%;
             }
        }
        
       }
   }
   
   

}   
      
.main_content{
    display:flex;
    @media @phone{
        flex-direction: column;
    }
    .planner_content{
        width:50vw;
        background:@planner_color;
        @media @phone{
            width:100%;
        }
    }
    .couples_content{
        width:50vw;
        background:@couples_color;
        @media @phone{
            width:100%;
        }
    }
    h2{
        text-align: center;
        padding: 30px 0;
    }
    p{
        padding:0 40px;
    }
    .feature_list{
        padding:20px 0;
        display:flex;
        justify-content: space-evenly;
        li{
            font-size:2.5rem;
            list-style-type: circle;
        }
        @media @phone{
            flex-direction: column;
            align-items: center;
        }
    }

    img{
        width:50%;
        margin:20px 25%;
        @media @phone{
            width:80%;
            margin:20px 10%;
        }
    }
    .feature_button_p{
        display:none;
        @media @phone{
            display: block;
            width:80%;
            margin:5px auto 20px auto;
            .custom-button(black,@couples_color);
        }
    }
    .feature_button_c{
        display:none;
        @media @phone{
            display: block;
            width:80%;
            margin:5px auto 20px auto;
            .custom-button(black,@planner_color);
        }
    }
}
.bottom_content{
    background: linear-gradient(90deg, @planner_color 50%, rgba(0, 0, 0, 0) 30%), @couples_color;
    padding: 10px 0 20px 0;
    @media @phone{
        display:none;
    }
    .bottom_button{
        width:30%;
        margin:0 auto ;
        .custom-button(@nav_btcolor,black);
         
}
}